<?xml version="1.0" encoding="UTF-8"?>
<server description="PNB WebSphere Liberty">
    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>microProfile-4.1</feature>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
        <feature>jsonb-1.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>jaxrs-2.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jpa-2.2</feature>
        <feature>beanValidation-2.0</feature>
        <feature>mpHealth-3.1</feature>
        <feature>mpMetrics-3.0</feature>
        <feature>mpOpenAPI-2.0</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*" httpPort="9080" httpsPort="9443" />

    <dataSource id="PNBDS" jndiName="jdbc/pnbcore">
        <jdbcDriver libraryRef="db2lib" />
        <properties.db2.jcc
            serverName="${PNB_DB_HOST}"
            portNumber="${PNB_DB_PORT}"
            databaseName="${PNB_DB_NAME}"
            user="${PNB_DB_USER}"
            password="${PNB_DB_PASS}" />
        <connectionManager maxPoolSize="50"
                          minPoolSize="10"
                          connectionTimeout="30s" />
    </dataSource>

    <library id="db2lib">
        <fileset dir="${shared.resource.dir}/db2" includes="*.jar" />
    </library>

    <logging traceSpecification="*=info:com.pnb.*=debug" />
</server>
